<!DOCTYPE html>
<html lang="fr-fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="Description" CONTENT="Sweet Noname est un jeu libre HTML 5 qui change selon la configuration du joueur (navigateur, os, langue, IP, heure de jeu ...). Ce jeu propose une expérience visuelle et sonore inédite.">
    <meta name="Keywords" CONTENT="jeu, web, html5, son, game, sweet, noname, sweet_noname, sombre, sonore, sons, video game, not flash, free, pas flash, libre, open source, sweet no name">

    <title>SW33T_|\|o|\|AM3 | <%= title %> | Jeu exp&eacute;rimental sur navigateur - SWEET_NONAME</title>
    <script type="text/javascript" src="/js/libs/processing-1.3.0.min.js"></script>  
    <script type="text/javascript" src="/js/libs/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  	<script type="text/javascript" src="/js/jquery.ad-gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.ad-gallery.css">
		<link rel="stylesheet" type="text/css" href="/css/galerie.css">
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  </head>
  <body>
    <div id="page">

    <!--en tête : logo+menu-->
    <!--langue-->
    <!--logo -->	
		<p id="logo"><a href="/"><img src="images/logo.png" alt="logo sweet noname" /></a></p>
		<!-- Menu de navigation -->		

    <p>&nbsp;</p>
    <div class="frame">
      <div class="top_frame"></div>
      <div class="background_frame">
        <div id="contents">

          <%- body %>
        </div>
      </div>  
    </div>  
  </div>


</body></html>
 

