<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="Description" CONTENT="Sweet Noname is a free HTML 5 game which change with the players configuration (browser, os, language, IP, time...). This game is a brand new visual and sonor experience.">
    <meta name="Keywords" CONTENT="play, web, html5, sound, game, sweet, noname, sweet_noname, dark, sonor, sounds, not flash, free, open source, video game, sweet no name">
    
    <title>SW33T_|\|o|\|AM3 | <%= title %> | Experimental browser game - SWEET_NONAME</title>
    <script src="/js/libs/processing-1.2.3.min.js"></script>  
    <script src="/js/libs/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  	<script type="text/javascript" src="/js/jquery.ad-gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.ad-gallery.css">
		<link rel="stylesheet" type="text/css" href="/css/gallerie.css">
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
   
  </head>
  <body>
    <div id="page">

    <!--header : logo+menu-->
    <!--language-->
    <div id="language"><a href="/">En français s'il vous plait !</a></div>
    <!--logo -->	
		<p id="logo"><a href="/en/"><img src="/images/logo.png" alt="sweet noname logo" /></a></p>

    <p>&nbsp;</p>
    <div class="frame">
      <div class="top_frame"></div>
      <div class="background_frame">
        <div id="contents">

          <%- body %>
        </div>
      </div>  
    </div>  
   
    <p>&nbsp;</p>
  </div>


</body></html>
 

