    <!--<div id="language"></div>
    <div id="os"></div>
    <div id="browser"></div>
    -->
    <script src="/js/libs/jquery.client.js"></script>
    <!--<script>
      $('#os').html("Your browser is running on: <b>" + $.client.os + "</b>");
      $('#browser').html("Your browser is: <b>" + $.client.browser + "</b>");
    </script>
    -->

    <canvas id="canvas1" width="800" height="600">Your browser seems to be too old to play to Sweet_nonama, update your browser to continue</canvas>  

    <script src="/js/initializer.js"></script>  
    <script src="/js/strum.js"></script>  
    <script src="/js/soundmanager2-nodebug-jsmin.js"></script>  
    <script src="/js/sound_system.js"></script>  
    <script src="/js/explosion.js"></script>  
    <script src="/js/shape.js"></script>  
    <script src="/js/level.js"></script>  
    <script src="/js/levelM.js"></script>  
    <script src="/js/levelF.js"></script>  
    <script src="/js/levelL.js"></script>  
    <script src="/js/menu.js"></script>  
    <script src="/js/credit_screen.js"></script>  
    <script src="/js/how_to_play.js"></script>  
    <script src="/js/hero.js"></script>  
    <script src="/js/console_line.js"></script>  
    <script src="/js/console.js"></script>  
    <script src="/js/colision.js"></script>  
    <script src="/js/main.js"></script>  
    <script src="/js/state-machine.min.js"></script>  
    <script src="/js/scene_engin.js"></script>  
 

